snippet phpif "PHP IF"
	<?php if(${0}) { ?>
		${1}
	<?php } ?>

snippet phpfor "PHP FOREACH"
	<?php foreach($${0} as $${1}) { ?>
		${2}
	<?php } ?>

snippet phpe "PHP ECHO"
	<?= ${0}; ?>

snippet php "PHP"
	<?php
		${0}
	?>
