snippet phpif "PHP IF"
	<?php if(${1}) { ?>
		${2}
	<?php } ?>

snippet phpfor "PHP FOREACH"
	<?php foreach($${1} as $${2}) { ?>
		${3}
	<?php } ?>

snippet phpe "PHP ECHO"
	<?= ${1}; ?>

snippet php "PHP"
	<?php
		${1}
	?>
