snippet @mm "Media Query min width"
	@media screen and (min-width: ${0}px) {
		${1}
	}

snippet abso "Position Absolute and w/h 100"
	position: absolute;
	height: 100%;
	width: 100%;

snippet db "display: block;"
	display: block;

snippet df "display: flex;"
	display: flex;

snippet dn "display: none;"
	display: none;

snippet dif "display: inline-flex;"
	display: inline-flex;

snippet di "display: inline;"
	display: inline;
