extends typescript

snippet uses "useState"
	const [${1}, ${2}] = useState(${3});

snippet usee "useEffect"
	useEffect(() => {
		${2}
	}, [${1}])

snippet acomp "Arrow component"
	type ${1}Props = {

	};

	export const ${2} = (${3}) => {

	}

snippet fcomp "Function component"
	type ${1}Props = {

	};

	export function ${2}(${3}) {

	}

snippet dfcomp "Default Function component"
	export default function ${1}(${2}) {

	}
